<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{ head }}
    <link rel="stylesheet" href="{{ themepath }}css/simplegrid.css">
    <link rel="stylesheet" href="{{ themepath }}css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<header class="">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <h1>
            {% if blog.ts.logo.url %}
            <a href="/"><img src="{{  blog.ts.logo.url }}" alt="{{ blog.name }}"></a>
            {% else%}
            <a href="/">{{ blog.name }}</a>
            {% endif%}
            </h1>
            <h2><span>{{ blog.description}}</span></h2>
        </div>
    </div>
   
</header>
  
<div role="main" class="posts">
    
    {% block content %}{% endblock %}
    
</div>
    
<footer>
    <div class="grid grid-pad">
    <nav class="col-1-1">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/archive">archive</a></li>
            <li><a href="/feed">feed</a></li>
        </ul>
    </nav>
    <small style="text-align:center;display:block;">Powered by <a href="http://writus.com">Writus</a></small>
    </div>
    
</footer>

</body>
</html>
