{% extends 'psycle.layout.twig' %}

{% block content %}
<div class="posts">
   <article class="grid grid-pad">
        <div class="col-3-12">
            <ul class="meta">
                <li class="date"><span class="d">{{ post.date|date('d') }}</span> <span class="m">{{ post.date|date('M') }}</span> <span class="y">{{ post.date|date('Y') }}</span></li>
                {% for category in post.categories %}
                <li class="category">
                    <a href="/{{ category.url }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-9-12 post">
            <h2><a href="/{{ post.url }}">{{ post.title }}</a></h2>
            <div class="content">
                {{ post.body }}
            </div>  
            <div class="article_footer">
             
                <span class="tags">{{ post.taglinks|join(', ') }}</span>
            </div>
        </div>

    </article>

      
</div>
{% endblock %}